<h1>IT Assets Technical Discussion</h1>
    
<p>
IT Assets is a straightforward database application to record computer
hardware and software assets.
<p/>
Its customizable look-up feature gives it enough flexibility to record
many different types of computer hardware.
<p/>
The data model is designed to support multiple companies at multiple
locations. 
<p/>
