<h1>IT Assets</h1>

<p>
A database for your computer hardware and software assets.
</p>
<p>
  The data model is designed for multiple companies in multiple locations; but,
  can easily be used for one company configurations.
</p>

<p>
  Also a database for:
</p>
<ul>
  <li>Hardware and software allocations
  <li>Technical support tickets
  <li>Backup tapes
</ul>

<%= link_to "Sign up now!", signup_path, :class  => "signup_button round" %>

<a href="/admin/login?name=Alex&password=grey">Demo</a>

<p/>

<a href="/help.html">Documentation</a>

<p/>

<a href="/techdisc.html">Technical Discussion</a>

