<p>
  <b>Code:</b>
  <%=h @company.code %>
</p>

<p>
  <b>Description:</b>
  <%=h @company.description %>
</p>


<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>