/* Global styles */

h1 {
        font:  150% sans-serif;
        color: #226;
        border-bottom: 3px dotted #77d;
}

/* Styles for products/index */

#itassets-list table {
        border-collapse: collapse;
}

#itassets-list table tr td {
        padding: 5px;
        vertical-align: top;
}

#itassets-list .list-image {
  width:        60px;
  height:       70px;
}

#itassets-list .list-description {
  width:        60%;
}

#itassets-list .list-description dl {
        margin: 0;
}

#itassets-list .list-description dt {
	color:        #244;
	font-weight:  bold;
	font-size:    larger;
}

#itassets-list .list-description dd {
        margin: 0;
}

#itassets-list .list-actions {
  font-size:    x-small;
  text-align:   right;
  padding-left: 1em;
}

#itassets-list .list-line-even {
  background:   #e0f8f8;
}

#itassets-list .list-line-odd {
  background:   #f8b0f8;
}

/* An entry in the store catalog */

#store  .entry {
  overflow: auto;
  margin-top: 1em;
  border-bottom: 1px dotted #77d;
}

#store  .title {
  font-size: 120%;
  font-family: sans-serif;
}

#store .entry img {
  width: 75px;
  float: left;
}


#store .entry h3 {
 margin-top: 0;
 margin-bottom: 2px;
 color: #227;
}

#store .entry p {
 margin-top: 0.5em; 
 margin-bottom: 0.8em; 
}

#store .entry .price-line {
 clear: both;
}

#store .entry .add-to-cart {
  position: relative;
}

#store .entry  .price {
  color: #44a;
  font-weight: bold;
  margin-right: 2em;
}

/* The error box */

.fieldWithErrors {
  padding: 2px;
  background-color: #EEFFEE;
  display: inline;
}

.fieldWithErrors * {
  background-color: red;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

/* Adds */

#banner {
  background: #d0dafd;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Times New Roman", serif;
  color: #339;
  text-align: center;
}

#banner img {
  float: left;
}

#columns {
  background: #b9c9fe;
}

#main {
  margin-left: 13em;
  padding-top: 4ex;
  padding-left: 2em;
  background: white;
}

#side {
  float: left;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  width: 12em;
  background: #b9c9fe;
}

#side a {
  color: #039;
  font-size: small;
}

#notice {
	border: 2px solid red;
	padding: 1em;
	margin-bottom: 2em;
	background-color: #f0f0f0;
	font: bold smaller sans-serif;
}

/* Styles for forms */

.itassets-form fieldset {
	background: #efe;
}

.itassets-form legend {
	color: #dfd;
	background: #141;
	font-family: sans-serif;
	padding: 0.2em 1em;
}

.itassets-form label {
	width: 5em;
	float: left;
	text-align: right;
	padding-top: 0.2em;
	margin-right: 0.1em;
	display: block;
}

.itassets-form select, .itassets-form textarea, .itassets-form input {
	margin-left: 0.5em;
}

.itassets-form .submit {
	margin-left: 4em;
}

.itassets-form div {
	margin: 0.5em 0;
}

/*.header {
  text-align: left;
}

.detail {
  text-align: left;
}

th, td {
  padding: 5px;
  border-spacing: 5px
}
*/

/*body
{
  line-height: 1.6em;
}*/

.list-table
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 15px;
/*	width: 700px; */
	text-align: left;
	border-collapse: collapse;
}

.list-table th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #b9c9fe;
	border-top: 4px solid #aabcfe;
	border-bottom: 1px solid #fff;
	color: #039;
}

.list-table td
{
	padding: 8px;
	background: #e8edff; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid transparent;
}
.list-table tr:hover td
{
	background: #d0dafd;
	color: #339;
}

.list-table .list-actions {
  font-size:    x-small;
  text-align:   right;
  padding-left: 1em;
}

.show-table
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 15px;
/*	width: 480px; */
	text-align: left;
	border-collapse: collapse;
}

.show-table th
{
	font-size: 14px;
	font-weight: normal;
	padding: 12px 15px;
	color: #039;
}

.show-table td
{
	padding: 10px 15px;
	color: #669;
	border-top: 1px solid #e8edff;
}

.oce-first
{
	text-align: right; /* didn't work? */
	background: #d0dafd;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;

}

.show-table tr:hover td
{
	color: #339;
	background: #eff2ff;
}

.show-table-label {
  text-align: right;
}

